{{outlet}}
<h1><center>Your Ultimate Guide to Rio de Janiero, Brazil!</center></h1>
<br>
{{#slick-carousel
  class="ember-carousel"
  autoplay=true
  autoplaySpeed=5000
  slidesToShow=1
  slidesToScroll=1
  dots=true
  fade=true}}
  <div><img src="https://firebasestorage.googleapis.com/v0/b/task-e7742.appspot.com/o/rio%20banner%201.jpg?alt=media&token=b82071b3-3769-473b-8e4c-3b9e74c50384"></div>
  <div><img src="https://firebasestorage.googleapis.com/v0/b/task-e7742.appspot.com/o/rio%20banner%202.jpg?alt=media&token=4de69195-d0d3-4aed-9ce8-4d122e262c8a"></div>
  <div><img src="https://firebasestorage.googleapis.com/v0/b/task-e7742.appspot.com/o/rio%20banner%203.jpg?alt=media&token=b134bae4-6409-429e-b6d5-89d4d2c097d1"></div>
{{/slick-carousel}}

<br>
<h3><center>Share and search events in Rio de Janiero, Brazil based on your personality type!</center></h3>
<br>

The bustling city of Rio de Janeiro has been one of Brazil’s most popular and frequented tourist destinations for decades. Its vibrant city centre is bursting with culture and pulsating with a deep sense of history and heritage. Rio, as it is commonly known, is the second largest city in Brazil and the third largest metropolis in the whole of South America.

It is the most visited city in the Southern Hemisphere, which is no mean feat. This makes for an impressive, memorable attraction for visitors from all over the world.     <br><br>

Rio de Janeiro is hot for most of the year, and rain is frequent during the period between December and March. The coastal areas are cooler than those situated inland due to the cool breeze blowing off the blue waters of the Atlantic Ocean. The average annual temperature is between 21 and 27 degrees Celsius. The landscape and vegetation in and around this metropolis are magnificent, providing a visual feast that has inspired authors and screenwriters the world over.
<br><br>
      
Because of its many cultural and historical attractions, Rio has implemented fabulous infrastructure to cater to the needs of its visitors. This includes world-class accommodation and plenty of tours. Rio de Janeiro was one of the Host Cities™ for the 2014 FIFA World Cup™, welcoming millions of people as they make their way to this international sporting event. In addition, it did host the 2016 Summer Olympics™, inviting sportsmen and –women, as well as their millions of fans, to focus their attention on this bustling destination. Major efforts have been made to minimise social inequality and modernise the economy of Rio de Janeiro to further improve its global standing. This makes for a very special destination.  

<br><br><br>